<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>

    <style> 
        body{
            font-family:Arial, Helvetica, sans-serif;
        }

        .sign{
            margin-top: -10px;
        }

        .mybtn {
            display: block;
            text-align: center;
            }

        .btn{
            background-color: #ceedfa;
            position: relative;
            padding: 10px;
            border-style: none;
            text-decoration:none;
            color: black;
        }
    </style>
</head>

<body>

<div>
    <h1> Register With Us!</h1>
    <p class="sign">Sign up for swimming lessons today!</p>
</div>

<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Register With Us">Register With Us</a></li>
        <li><a href="/timetable">Timetables</a></li>
    </ul>
</div>



<div class="mybtn">
    <a href="/" class="btn" >Homepage</a>
</div>
    
</body>
</html>
